<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telen.easylineup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" tools:node="remove"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" tools:node="remove"/>

    <application
        android:name=".application.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup">
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.elu"
                    android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="content"
                    android:pathPattern=".*\\.elu"
                    android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="content"
                    android:mimeType="application/octet-stream"
                    android:host="*" />
            </intent-filter>
        </activity>
        <activity android:name=".team.createTeam.TeamCreationActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <activity android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>

        <activity
            android:name=".reporting.SendReportActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />
        
        <provider
            android:authorities="com.telen.easylineup.fileprovider"
            android:name=".utils.LineupFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>